01-HTML_Level_One/
02-HTML_Level_Two/
03-CSS_Level_One/
04-CSS_Level_Two/
05-Capstone_Project_One/
06-Bootstrap/
07-JavaScript_Level_One/
08-Javascript_Level_Two/
09-Document_Object_Model/
10-jQuery/
11-Command_Line_Crash_Course/
12-Python_Level_One/
13-Python_Level_Two/
14-Django_Level_One/
15-Django_Level_Two/
16-Django_Level_Three/
17-Django_Level_Four/
18-Django_Level_Five/
19-Advanced_Django_CBV/
20-Blog_Clone_Project/
21-Social_Clone_Project/
.idea/
*.log