/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/
body{
    background-color: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1);
    background-repeat: no-repeat;



}
div{
    background-color: blue;
    border-color: orange ;
    border-width: 10px;
    border-style: double;
}
h1{
    color: red;
    font: oblique;
    fill: #00ff88;
    gap: inherit;
    background: #0088ff;
}

li {
  color: rgb(0,200,0);
}

p{
    color: green;
    background-color: ;


}
span{
    background: red;
    color: black;
}

h4{
    color: rgba(13,90,140,0.5)
}
